pandas
numpy
scipy==1.16.3
scikit-learn==1.6.1
xgboost==3.4.1
lightgbm
imbalanced-learn
shap==0.52.0
lime
mlflow
fastapi
uvicorn[standard]
streamlit==1.51.0
plotly==6.3.0
seaborn
matplotlib
notebook
ipykernel
evidently
prefect
python-dotenv
pytest
