pandas
numpy
scipy==1.16.3
scikit-learn==1.6.1
xgboost
lightgbm
imbalanced-learn
shap
lime
mlflow
fastapi
uvicorn[standard]
streamlit
plotly
seaborn
matplotlib
notebook
ipykernel
evidently
prefect
python-dotenv
pytest
