pandas
numpy
scipy==1.16.3
scikit-learn==1.6.1
xgboost==3.4.1
lightgbm==4.7.0
imbalanced-learn==0.14.0
shap==0.52.0
lime==0.2.0.1
mlflow==3.15.1
fastapi
uvicorn[standard]
streamlit==1.51.0
plotly==6.3.0
seaborn
matplotlib
notebook
ipykernel
evidently
prefect
python-dotenv
pytest
